[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suseong
[access "refs/for/refs/*"]
	read = group user/suseong
	push = group user/suseong
	label-Code-Review = -2..+2 group user/suseong
	label-Verified = -1..+1 group user/suseong
	rebase = group user/suseong
	removeReviewer = group user/suseong
	submit = group user/suseong
[access "refs/heads/*"]
	read = group user/suseong
	create = group user/suseong
	push = +force group user/suseong
	pushMerge = group user/suseong
[access "refs/tags/*"]
	push = group user/suseong
	push = +force group user/suseong
